
[Desktop Entry]
Version=6.4.0
Name=Jupyter Notebook
GenericName=Jupyter Notebook
X-GNOME-FullName=Jupyter Notebook
Comment=Edit and run notebook documents via a web browser
Type=Application
Categories=Education;Science;
Exec=/opt/conda/bin/jupyter notebook --notebook-dir /
TryExec=/opt/conda/bin/jupyter notebook --notebook-dir /
Terminal=false
StartupNotify=true
Icon=/opt/conda/lib/python3.8/site-packages/jupyter_server/static/favicon.ico
