[Desktop Entry]
Version=0.4.2
Name=QuPath
GenericName=QuPath
X-GNOME-FullName=QuPath
Comment=Quantitative Pathology & Bioimage Analysis
Type=Application
Categories=Education;Science;ImageProcessing;
Exec=/opt/QuPath/bin/QuPath
TryExec=/opt/QuPath/bin/QuPath
Terminal=false
StartupNotify=true
Icon=/opt/QuPath/lib/QuPath.png

